@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your personally identifying information is yours to keep.</p>
<p>This WebApp makes no attempts to personally identify you, however it will want you to provide a &quot;username&quot;. The &quot;username&quot; you provide can be your real name, or some made up name. <em>If you choose to provide personally identifying information as your username that is</em> <strong>your choice</strong> <em>and this website will not retain that information beyond using it to identify you as a LingoBingo player for the duration of your stay on this website (while you play).</em>.</p>
