@page "/About"

    <div class="container">
        <h3>About This Website</h3>
    </div>

    <div class="container">
        This website was envisioned, developed, and tested by Jon Rumsey.
        The initial idea for this game was derived from a presentation on audience engagement.
        LingoBingo provides a tool for a presenter or presentation host to help the audience stay engaged.
        Adding new &quot;Lingo Words&quot; will require contacting me to add them when deploying the website.
        Project code is hosted on <a href="https://github.com/nojronatron/LingoBingoGen">GitHub</a>.
        Submit an Issue or start a discussion at <a href="https://github.com/nojronatron/LingoBingoGen/discussions">LingoBingoGen Discussions</a>!
    </div>

