@page "/"
@using Library
@inject HttpClient Http

@if (!ShowBingoBoard)
{
<EditForm Model="@Player" OnValidSubmit="@HandleValidSubmit">
    <h1>Welcome to LingoBingo!</h1>
    <label for="userName">Your name or pseudonym</label>
    <InputText id="userName" @bind-Value="@Player.Name" />
    <button type="submit">Submit</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>
}
else
{
    <BingoBoard Player="Player" Words="LoadedWords" />
}

@code
{
    private bool ShowBingoBoard = false;
    private string SelectedCategory { get; set; } = "Safety";
    private List<JsonDataModel> JsonWords { get; set; }
    public List<string> LoadedWords { get; set; } = new List<string>();
    public BingoPlayer Player = new BingoPlayer();

    protected override async Task OnInitializedAsync()
    {
        JsonWords = await Http.GetFromJsonAsync<List<JsonDataModel>>("sample-data/categorized_words.json");
        
        await Task.Run(() =>
        {
            LoadedWords = (from jw in JsonWords
                           where jw.Category == SelectedCategory
                           select jw.Words.ToList()).First();
        });
    }

    public void HandleValidSubmit()
    {
        ShowBingoBoard = true;
    }
}